<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>外卖平台首页</title>
</head>
<body>

<div class="header.w">
        </div>
        <!-- 文字导航栏模块 -->
        <div class="nav">
            <ul>
                <li>
                    <a href="http://127.0.0.1:5000/register">注册</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/login">登录</a>
                </li>

            </ul>
        </div>
        <!-- 搜索模块 -->
        <div class="search">
            <input type="text" value="这只是一个摆设" ></input>
            <button>搜索</button>
        </div>

<br>
<br>
<br>
<br>
<br>
<h1 style="text-align:center;font-family:verdana;">一个相当简陋的外卖平台系统</h1>
<p style="text-align:center;">102104208 江山</p>
<br>
<br>
<img src="/static/img/1.jpg" width="300" height="300" style="display: block;margin: auto">
</body>
</html>