<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
<h1>注册页面</h1>

<form method="post">
    <label>AccountName</label>
    <input type="text" name="accountname" placeholder="搞个新的用户名"><br>
    <br>
    <label>Password</label>
    <input type="text" name="password" placeholder="给你的账号搞个密码"><br>
    <br>
    <label>再input一次Password</label>
    <input type="text" name="password2" placeholder="搞快点">
    <br>
    <br>
    <label for="exampleInputEmail1">用户类型</label>
            <select style="width: 300px; height:30px;" name="type" >
            <option value="0">用户</option>
            <option value="1">商家</option>
            <option value="2">骑手</option>
            </select><br>
    <input type="submit" value="注册">
</form>
</body>
</html>