<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传商品信息</title>
</head>
<body>
<h1 style="text-align:center;font-family:verdana;">上传商品信息</h1>
<form enctype='multipart/form-data' method="post">
    <label>商品名称</label>
    <input type="text" name="name" placeholder="名"><br>
    <label>价格</label>
    <input type="text" name="price" placeholder="随便搞点"><br>
    <label>信息</label>
    <input type="text" name="describtion" placeholder="随便搞点"><br>
    <p>商品图片：</p>
    <input type="file" size="30" name="file"/><br>
    <input type="submit" value="提交">
</form>
</body>
</html>