<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="\static\css\style.css">
    <title>sa</title>
</head>
<body>
    <div class="header.w">
        <!-- 标志模块 -->

        </div>
        <!-- 文字导航栏模块 -->
        <div class="nav">
            <ul>
                <li>
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="#">课程</a>
                </li>
                <li>
                    <a href="#">职业规划</a>
                </li>
            </ul>
        </div>
        <!-- 搜索模块 -->
        <div class="search">
            <input type="text" value="输入关键词" ></input>
            <button>搜索</button>
        </div>
        <!-- 用户模块 -->
        <div class="user">
            <img src="images/user.png" style="vertical-align: middle">
            qq-lilei
        </div>
    </div>
</body>